<ion-view title="Products" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-item ng-click="toggleToys()" ng-class="{active: showToys()}" class="item-positive">
      <i class="icon" ng-class="showToys() ? 'ion-minus' : 'ion-plus'"></i>
      Our Toys
    </ion-item>
    <ion-item ng-show="showToys()">
      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-information-circled'"></i>
            &nbsp;
            Toy {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">

            <img src={{item.source}} alt={{item.alt}} style="max-height:300px;max-width:200px;">
            <p>{{item.description}}</p>

          </ion-item>
        </div>
      </ion-list>
    </ion-item>



  </ion-content>
</ion-view>