<ion-view title="Contact Us" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="contactUs-markdown11" class="show-list-numbers-and-dots">
      <h5>Contact us with any questions or concerns at:</h5>

      <p style="color:#000000;">
        <em>ABCToyProducts@gmail.com</em>
        <br>
        <em>(415) 555-5555</em>
        <br>
        <em>604 Stockton Way, New York, NY</em>
      </p>

      <p style="color:#000000;">You can also contact us on
        <a href="https://www.facebook.com/AmazonToysandGames/">Facebook</a> or using the below form.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <form id="contactUs-form1" class="list">
      <label class="item item-input" id="contactUs-input3">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="contactUs-input4">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="contactUs-input2">
        <span class="input-label">Comment</span>
        <input type="text" placeholder="">
      </label>
      <button id="contactUs-button1" class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>