<ion-view title="Location" id="page3" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="location-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">When we open our store, we will let you know our location even with directions from your place to it!</p>
         
        <div>            
            You are at Latitude: {{latitude}}, Longitude: {{longitude}}         
        </div>   
        <div id="map" > </div>


    </div>
  </ion-content>
</ion-view>